*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    background: linear-gradient(to right,rgb(242,112,156), rgb(255,148,114));
}


#main{

    min-height: 100vh;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#addBtn{
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: #179712;
    border: none;
    padding: 10px;
    color: white;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#addBtn:hover{
    background-color: #06a006;
}


.note{
    background: transparent;
    margin: 15px;
    border-radius: 10px;
    overflow: hidden;
}

.tool{
    background-color: #222831;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}



